*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: #b0cdf4;
    padding: 20px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color:black;
}

.card-grid {
    display: flex;
    flex-direction: column;
}

.card {
    flex-basis: 100%;
    transition: box-shawdow 0.3s ease;
    padding: 20px;
    background-color: #abf0eb;
    border: 1px solid #ecc7c7;

}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bio-hero {
    padding: 20px;
    background-color: #f3efa7;
}

.card-grid {
    padding: 20px;
    gap: 20px;
}

.card {
    padding: 20px;
} 

footer {
    padding: 20px;
    text-align: center;
}

@media (min-width: 768px) {
.navbar {
    flex-direction: row;
    justify-content: space-between;
}

.nav-links {
    flex-direction: row;
}

.card-grid {
    flex-direction: row;
    justify-content: space-between;
}

.card {
    flex-basis: 30%;
}
}
